.credit{
    color:green !important;
}
.debit{
    color:red !important;
}

// tbody {
//     height: 300px;
//   //  display: inline-block;
//     width: 100% !important;
//     overflow-y: visible;
//     overflow-x: hidden;
// }

// .table {width: 100% !important; background:#e4f3d4; color:#fff !important}

// .table-striped tbody tr:nth-of-type(even) {
//     background: linear-gradient(to bottom right, #759a1c, #eff3cb) !important ;
//     color: #fff !important ;
//  }

 
//  .table-striped tbody tr:nth-of-type(odd) {background: #e4f3d4 !important}

// .statHeader {
//     background-color:  #70956a !important;// darkgreen !important;
//     color:white; 
//     padding: 6px !important; 
//     width: 100% !important
// }

// .statHeader1{
//     background-color:  #70956a !important;
// }
// .stateRowImg{
//     height:50px;
//     margin:5px;
// }

