<header id="top">
    <div class="top-bar" style="position: fixed; top: 0px;">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-2 logo">
                    <div class="left-logo text-center">
                        <a href="javascript:void(0)">
                            <img class="img-fluid" src="assets/images/vpay.svg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 top-logos">
                    <div class="text-center">
                        <!--Navigation-->
                        <div id="cssmenu" class="navigation">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoHome()">Home</a>
                                </li>
                                <li class="active">
                                    <a href="javascript:void(0)">Corporate</a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" (click)="gotoAbout()">About</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" (click)="gotoOurTeam()">Our Team</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">News & Blog</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Careers</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoHowToUse()">How It Works</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoWhyUs()">Why Us</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoSignUp('I')">Sign Up</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoLogin()">Login</a>
                                </li>
                            </ul>
                        </div>
                        <!--/Navigation-->
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="vgipl-logo text-right">
                        <a href="javascript:void(0)">
                            <img style="height: 60px;" class="img-fluid" src="assets/images/vg-logo.svg" alt="" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


</header>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">About</li>
        </ol>
    </nav>
</div>

<main>
    <div class="main">
        <div class="container">
          <h2>Two Wheeler Insurance</h2>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <select class="form-control" id="">
                        <option>--Purchased / Registered in the City of--</option>
                        <option>BANGALORE-KARNATAKA</option>
                        <option>NEW DELHI-DELHI</option>
                        <option>CHENNAI-TAMILNADU</option>
                        <option>MUMBAI-MAHARASHTRA</option>
                      </select>
                    </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" class="form-control" id="" placeholder="Tow Wheeler Make and Model">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                      <select class="form-control" id="">
                        <option>--Purchased Year--</option>
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                        <option>2015</option>
                      </select>
                    </div>
                </div>

            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary">BACK</button>
                <button type="button" class="btn btn-primary">SUBMIT</button>
            </div>
        </div>

        <hr />

        <div class="container">
          <h2>Two Wheeler Insurance</h2>
          <p>Insured Declared Value (IDV) : 29,749</p>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <select class="form-control" id="">
                        <option>--Purchased / Registered in the City of--</option>
                        <option>BANGALORE-KARNATAKA</option>
                        <option>NEW DELHI-DELHI</option>
                        <option>CHENNAI-TAMILNADU</option>
                        <option>MUMBAI-MAHARASHTRA</option>
                      </select>
                    </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" class="form-control" id="" placeholder="Tow Wheeler Make and Model">
                  </div>
                </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                        <input type="date" class="form-control" id="" placeholder="Purchase Date">
                      </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                        <input type="date" class="form-control" id="" placeholder="Ex-showroom Price">
                      </div>
                  </div>

                    <div class="col-md-3">
                      <div class="form-group">
                          <select class="form-control" id="">
                            <option>-- Number of claims made --</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                          </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                          <select class="form-control" id="">
                            <option>-- NCB --</option>
                            <option>0%</option>
                            <option>20%</option>
                            <option>30%</option>
                            <option>40%</option>
                          </select>
                        </div>
                    </div>

                    <div>
                        <p style="text-align:center;">Please verify the details that we've added to speed up your transaction.</p>
                    </div>

              </div>

        </div>

  <section class="bgbox">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="box-block">
                          <p class="year">3 Years</p>
                          <hr />
                          <h2 class="rupee-title"><span>&#x20B9;</span>4825</h2>
                          <p class="gst-number">with GST &#x20B9; 5694</p>
                          <P class="cost">Cost saving & long term cover</P>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box-block">
                          <p class="year">2 Years</p>
                          <hr />
                          <h2 class="rupee-title"><span>&#x20B9;</span>3288</h2>
                          <p class="gst-number">with GST &#x20B9; 3880</p>
                          <P class="cost2">No burden of third party premium hike</P>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box-block">
                          <p class="year">1 Years</p>
                          <hr />
                          <h2 class="rupee-title"><span>&#x20B9;</span>1635</h2>
                          <p class="gst-number">with GST &#x20B9; 1929</p>
                          <P class="cost2">Protection for a single year</P>
                        </div>
                    </div>
                  </div>

            </div>

            <div class="container">
                <p class="plan">This plan includes the Personal Accident cover for owner-driver.</p>
            </div>

            <div class="container">
              <div class="premium-block">
                <div class="row">
                  <div class="col-md-8">
                      <p class="personal">I want to protect myself from harm caused by accidents
                        Personal Protect Cover: Coverage against death and permanent total disability</p>
                  </div>
                  <div class="col-md-2">
                      <p class="personal">Sum Insured <br /> &#x20B9; 3,00,000</p>
                  </div>
                  <div class="col-md-2">
                      <p class="personal">Premium<br /> &#x20B9; <b>384</b></p>
                  </div>
                </div>
              </div>
            </div>
            <br /><br />
            <div class="container">
              <h4 class="text-center">Choose Additional Cover</h4>
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Road Side Assistance Best Selling</b></p>
                        <p>You can avail emergency assistance services in any of our network garages. These services include towing on breakdown/accident, flat tyre, etc.</p>
                    </div>
                    <div class="col-md-6">
                        <p><b>Zero Depreciation</b></p>
                        <p>Every year, your two wheeler devaluates due to wear and tear of its parts. The add-on does not consider this, giving you complete coverage.</p>
                </div>
            </div>
            </div>
            <br />

            <div class="container">
              <h3 class="benefits-title">Benefits Covered (4)</h3>
                <div class="row">
                    <div class="col-md-6">
                      <div class="benefit-block">
                        <p><b>Own Damage</b></p>
                        <p>In case of an accident, we pay the cost of damages to your two wheeler </p>
                        <p><b>Key Inclusions:</b> Natural calamities (Fire, lightening, flood etc), Man-made disasters (Burglary, theft, riot, strikes etc.) </p>
                        <p><b>Key Exclusions:</b> Depreciation of two wheeler parts, tyres, two wheeler driven under intoxication.</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="benefit-block">
                        <p><b>Third Party</b></p>
                        <p>If you accidentally ram your two wheeler into someone or something, we'll pay for the legal liabilities - injury or death of a person, and damage caused to the surrounding property. </p>
                        <p><b>Key Exclusions:</b> 1. Accidents outside geographical area.</p>
                        <p>2. Two Wheeler driven by someone who is not the owner or driver.</p>
                        <p>3. Loss or damage due to war or invasion.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="benefit-block">
                        <p><b>Two Wheeler Theft</b></p>
                        <p>In case your two wheeler gets stolen, we pay you the two wheeler's Insured Declared Value i.e maximum sum insured amount fixed at the beginning of the policy period. </p>
                        <p><b>Key Inclusions:</b> Theft of two wheeler </p>
                        <p><b>Key Exclusions:</b> Frauds, staged theft, claims made without filing an FIR</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="benefit-block">
                        <p><b>Personal Accident</b></p>
                        <p>We pay up to `15 lakhs in case of death or permanent disability caused to the owner-driver due to an accident. </p>
                        <p><b>Key Inclusions:</b> Registered owner of the two wheeler, valid license held by the driver as per motor vehicle rules. </p>
                        <p><b>Key Exclusions:</b> Accident caused outside geographical area</p>
                      </div>
                    </div>
            </div>
            </div>

            <div class="container">
                <div class="network"><h3>Find Network Garages </h3></div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                          <input type="" class="form-control" id="" placeholder="Please enter the first 3 letters of your city to check">
                    </div>
                  </div>
                  <div class="col-md-1">
                      <div class="form-group">
                          <button type="button" class="btn btn-primary">CHECK</button>
                      </div>
                  </div>
                </div>
                <div>
                  <a class="btn btn-outline-secondary">Mumbai</a> &nbsp;
                  <a class="btn btn-outline-secondary">New Delhi</a> &nbsp;
                  <a class="btn btn-outline-secondary">Pune</a> &nbsp;
                  <a class="btn btn-outline-secondary">Bengaluru</a> &nbsp;
                  <a class="btn btn-outline-secondary">Hyderabad</a> &nbsp;
                </div>
                <div>
                </div>
            </div>
            <br />
            <div class="container">
                <div class="network"><h3>Policy Documents</h3></div>
                  <div class="row">
                    <div class="col-md-2">
                        <div class="policy">
                          <p><a href="#">Download Brochure</a></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="policy">
                          <p><a href="#">Download Policy Wordings</a></p>
                        </div>
                      </div>
                  </div>
            </div>

            <br />
            <div class="text-center">
                <button type="button" class="btn btn-primary">BACK</button>
                <button type="button" class="btn btn-primary">SUBMIT</button>
            </div>
  </section>
    </div>






</main>
