.form-group {
    margin-bottom: 0rem !important;
}

.input-group{
    flex-wrap: nowrap !important;
}

.form-group .form-control{
    margin: 0px !important;
}

.img-thumb{
    width: 50px;
    padding-top: 17px;

}
