<main class="mt-3">
  <div class="main">
    <!-- <img src="assets/images/help.png" class="cursorPointerC  fa-beat" style="height:45px; position: fixed;bottom: 80px;right: 65px; z-index: 5;"
    matTooltip="{{pageTitle}} Help" matTooltipPosition="above" (click)="pageHelp()" data-toggle="modal" data-target="#myModal"> -->

    <div class="container">
      <!-- Header -->
      <div class="card mb-3">
        <div class="row col-md-12 m-auto">
          <div class="col-md-6">
            <div class="row">
              <img class="img-fluid" style="height: 35px;" src="assets/images/settings.png" alt="Bank Details">
              <h4 style="margin-top: 8px; font-weight: bold;">&nbsp;Settings </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <!-- first card -->
        <div class="col-sm-12 col-md-4 col-lg-3 ">
          <div class="card card-block border-info cardHeightleftBlock">
            <div class="">
              <div class="bankMenu">
                <h5 [ngClass]="{'submenuActive': tab==='tab1'}" (click)="ChangeMenu('ChangePassword')">Change Password
                </h5>
              </div>

            </div>


            <div class="bankMenu">
              <h5 [ngClass]="{'submenuActive': tab==='tab2'}" (click)="ChangeMenu('SetFingerPrintDevice')">Set Finger
                Print Device</h5>
            </div>



            <div class="bankMenu">
              <h5 [ngClass]="{'submenuActive': tab==='tab4'}" (click)="ChangeMenu('Profile')">Profile</h5>
            </div>

            <div class="bankMenu">
              <h5 [ngClass]="{'submenuActive': tab==='tab5'}" (click)="ChangeMenu('CloseAccount')">Close Account</h5>
            </div>

            <div class="bankMenu">
              <h5 [ngClass]="{'submenuActive': tab==='tab6'}" (click)="ChangeMenu('SetBankDetails')">Link Other Bank
              </h5>
            </div>

            <div class="bankMenu">
              <h5 [ngClass]="{'submenuActive': tab==='tab3'}" (click)="ChangeMenu('fundTransfer')">Vpay Balance Transfer
              </h5>
            </div>

          </div>
        </div>
        <!-- first card end -->



        <!-- second card -->
        <div class="card mb-0 col-md-12 cardHeightBlock">
          <!-- <div class="card card-block largeCard" > -->

          <vgipl-changePassword *ngIf="changePassword"></vgipl-changePassword>

          <vgipl-setThumbDevice *ngIf="setThumbDevice"></vgipl-setThumbDevice>

          <vgipl-fundtransfer *ngIf="fundTransfer"></vgipl-fundtransfer>

          <profile-upi *ngIf="profile"></profile-upi>

          <vgipl-closeAccount *ngIf="closeAccount"></vgipl-closeAccount>

          <vgipl-setBankDetails *ngIf="setBankDetails"></vgipl-setBankDetails>

          <!-- </div>-->
        </div>

      </div>


      <!--POPUP END-->
    </div>

  </div>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered" style="max-width:1000px;">
      <div class="modal-content">
        <div class="modal-body" style="height: 400px;overflow: auto;">
          <div *ngFor="let item of termCondContent">
            <p style="text-transform: uppercase; font-weight: bold">
              {{item.TERM_COND_HEADER}}
            </p>
            <p style="margin-top: 2%">
              {{item.TERM_COND_DETAIL}}
            </p>
            <br>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</main>

<!--POPUP START-->
<!-- <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered" style="max-width:1000px;">
      <div class="modal-content">
        <div class="modal-body" style="height: 400px;overflow: auto;">
          <div *ngFor="let item of termCondContent">
            <p style="text-transform: uppercase; font-weight: bold">
              {{item.TERM_COND_HEADER}}
            </p>
            <p style="margin-top: 2%">
              {{item.TERM_COND_DETAIL}}
            </p>
            <br>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div> -->