#container{
    position: relative;
    
    width: 100%;
    
 }
 #grid {
   display: grid;
   height: 150;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 300px;
   grid-column-gap: 20px;
 }
 
 .overlay-left {
     position: absolute;
     display: inline-block;
     display: grid;
     /* width: 7rem; */
     height: 100%;
     top: 0%;
     left: 0;
     bottom: 0;
     background-color: white;
     z-index: 1;
     cursor: pointer;
 }
 
 .overlay-right {
     position: absolute;
     display: inline-block;
     display: grid;
     /* width: 7rem; */
     height: 100%;
     top: 0%;
     right: 0;
     bottom: 0;
     background-color: white;
     z-index: 1;
     cursor: pointer;
 }
 
 #grid > div {
   /* background-color: gray; */
   width: 100%;
 }
 
 #slider-buttons-left{
    
   position: absolute;
   z-index: 1000;
   top: 100px;
   float: left;
   cursor: pointer;
   font-size: 250%;
   color: #778899;
   /* left: 60px; */
   
 }
 
 #slider-buttons-right{
    
   position: absolute;
   top: 100px;
   z-index: 1000;
   float: right;
   cursor: pointer;
   font-size: 250%;
   color: #778899;
   right: 0px;
   
 }
 
 .image-cropper {
     /* height: 300px; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .image-cropper img {
     max-width: 100%;
     max-height: 100%;
     width: 100%;
     display: block;
     margin: 0 auto;
 }


 .text-title {font-size: 20px; color: #545458; float: left; margin: 10px 0;}
 .price-title {font-size: 20px; color: #545458; float: right; margin: 10px 0;}

 .pi-links {background: #545458; padding: 6px 0; text-align: center; cursor: pointer;}
 .pi-links a {color: #fff;}
 .pi-links a:hover {color: #a4a4a4;}
 .flaticon-bag {font-size: 17px;}
