<div id="container">

  <div class="overlay-left"></div>
  <div class="overlay-right"></div>

  <div id="grid" class="image-cropper">
    <div *ngFor="let url of imageUrls; let i = index">
      <img [@move]="state" (@move.done)="onFinish($event)" (@move.start)="onStart($event)" [attr.class]="i"
        [src]="url.image" alt="" />

      <div style="padding: 0 11px;">
        <p class="text-title">{{url.title}}</p>
        <p class="price-title">&#8377;{{url.price}}</p>
      </div>

      <div class="clearfix" style="background: #e6e6e8;"></div>

      <div class="pi-links">
        <a (click)="gotoProductDetails(url)">
          <i class="flaticon-bag"></i> &nbsp; <span>ADD TO CART</span>
        </a>
      </div>
    </div>
  </div>

  <div>
    <a id="slider-buttons-left" (click)="moveLeft()">&#10094;</a>
    <a id="slider-buttons-right" (click)="moveRight()">&#10095;</a>
  </div>

</div>