<header id="top">
    <div class="top-bar" style="position: fixed; top: 0px;">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-2 logo">
                    <div class="left-logo text-center">
                        <a href="javascript:void(0)">
                            <img class="img-fluid" src="assets/images/vpay.svg" alt="" />
                        </a>
                    </div>
                </div>

                <div class="col-md-7 col-sm-12 top-logos">
                    <div class="text-center">
                        <!--Navigation-->
                        <div id="cssmenu" class="navigation">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoHome()">Home</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Corporate</a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" (click)="gotoAbout()">About</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" (click)="gotoOurTeam()">Our Team</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">News & Blog</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Careers</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active">
                                    <a href="javascript:void(0)" (click)="gotoHowToUse()">How It Works</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoWhyUs()">Why Us</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoSignUp('I')">Sign Up</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoLogin()">Login</a>
                                </li>
                            </ul>
                        </div>
                        <!--/Navigation-->
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="vgipl-logo text-right">
                        <a href="javascript:void(0)">
                            <img style="height: 60px;" class="img-fluid" src="assets/images/vg-logo.svg" alt="" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


</header>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">How It Works</li>
        </ol>
    </nav>
</div>
<main>
    <div class="main">

        <div class="container">
            <h2>How It Works</h2>
        </div>
        <!--START-->
        <section class="gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="mobile-thumb">
                            <div class="text-center">
                                <img class="img-fluid" src="assets/images/mob1.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="mobile-text">
                            <h3>VPay App Installation</h3>
                            <ul class="listing">
                                <li>Go to Google Play Store</li>
                                <li>Enter &amp; Select V pay App</li>
                                <li>Click on Install</li>
                                <li>Installation Complete</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-4 col-sm-4">
                        <div class="mobile-text">
                            <h3>Explore VPay</h3>
                            <ul class="listing">
                                <li>Click on Open </li>
                                <li>VPay App shall load &amp; Open</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="mobile-thumb">
                            <div class="">
                                <img class="img-fluid" src="assets/images/mob2.png" alt="" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="mobile-thumb">
                            <div class="text-center">
                                <img class="img-fluid" src="assets/images/mob3.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="mobile-text">
                            <h3>Registration Page</h3>
                            <ul class="listing">
                                <li>Enter Mobile Number &amp; Birth Date Registered with our Admin Portal</li>
                                <li>One time registration process Shall be completed</li>
                                <li>Login Account of the user shall be created after filling its Personal information</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-4 col-sm-4">
                        <div class="mobile-text">
                            <h3>Mpin Page</h3>
                            <ul class="listing">
                                <li>After entering the Mpin selected by user, he will get access to the App and he will land
                                    to home page.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="mobile-thumb">
                            <div class="">
                                <img class="img-fluid" src="assets/images/mob4.png" alt="" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="mobile-thumb">
                            <div class="text-center">
                                <img class="img-fluid" src="assets/images/mob5.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 col-sm-3">
                        	<div class="mobile-thumb">
                            	<div class="text-center"><img class="img-fluid" src="assets/images/mob6.png" alt="" /></div>
                            </div>
                        </div> -->

                    <div class="col-md-6 col-sm-6">
                        <div class="mobile-text">
                            <h3>Home Page</h3>
                            <ul class="listing">
                                <li>After entering the Log-in credentials user will land to Home page containing multiple options
                                    for Transactions.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-1"></div>
                    <div class="col-md-6 col-sm-6">
                        <div class="mobile-text">
                            <h3>Aadhaar Pay</h3>
                            <ul class="listing">
                                <li>After clicking on Adhaar Pay Icon on home screen, this page shall open.</li>
                                <li>Enter Adhaar No, Select Bank &amp; Amount.</li>
                                <li>Accept Terms &amp; Conditions</li>
                                <li>Click on Scan &amp; Pay</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-5">
                        <div class="mobile-thumb">
                            <div class="">
                                <img class="img-fluid" src="assets/images/mob7.png" alt="" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-3 col-sm-3">
                        <div class="mobile-thumb">
                            <div class="text-center">
                                <img class="img-fluid" src="assets/images/mob8.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="mobile-text">
                            <h3>Aadhaar Pay</h3>
                            <ul class="listing">
                                <li>Payment Successful icon shall Appear on screen</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-1"></div>
                    <div class="col-md-6 col-sm-6">
                        <div class="mobile-text">
                            <h3>Unified Payment Interface</h3>
                            <ul class="listing">
                                <li>After clicking on UPI Icon, this page shall open.</li>
                                <li>Enter unique VPA (generated through Banks’ UPI app), Amount, Customer Name, Bill No., Customer
                                    GST No., Remark etc.</li>
                                <li>Accept Terms &amp; Conditions</li>
                                <li>Click on Process </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-5">
                        <div class="mobile-thumb">
                            <div class="">
                                <img class="img-fluid" src="assets/images/mob9.png" alt="" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-3 col-sm-3">
                        <div class="mobile-thumb">
                            <div class="text-center">
                                <img class="img-fluid" src="assets/images/mob10.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="mobile-text">
                            <h3>UPI Collection</h3>
                            <ul class="listing">
                                <li>Successful Payment Collection Icon shall appear on screen</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-1"></div>
                    <div class="col-md-6 col-sm-6">
                        <div class="mobile-text">
                            <h3>UPI QR</h3>
                            <ul class="listing">
                                <li>Payer shall scan this UPI QR, and shall initiate the payment.</li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-5">
                        <div class="mobile-thumb">
                            <div class="">
                                <img class="img-fluid" src="assets/images/mob12.png" alt="" />
                            </div>
                        </div>
                    </div>

                </div>

                <!--END-->

            </div>

        </section>

        <section class="gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-1"></div>


                    <div class="col-md-5 col-sm-5">
                        <div class="mobile-thumb">
                            <div class="">
                                <img class="img-fluid" src="assets/images/mob18.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="mobile-text">
                            <h3>Payment Gateway</h3>
                            <ul class="listing">
                                <li>After clicking on Gateway Icon, this page shall open.</li>
                                <!-- <li>Enter unique VPA (generated through Banks’ UPI app), Amount, Customer Name, Bill No., Customer
                                    GST No., Remark etc.</li> -->
                                <li>Enter Amount</li>
                                <li>Accept Terms &amp; Conditions</li>
                                <li>Click on Process </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2"></div>
                    <!-- <div class="col-md-3 col-sm-3"> -->
                    <!-- <div class="mobile-thumb">
                            <div class="text-center">
                                <img class="img-fluid" src="assets/images/mob12.png" alt="" />
                            </div>
                        </div> -->
                    <!-- </div> -->

                    <div class="col-md-3 col-sm-3">
                        <div class="mobile-text">
                            <h3>Payment Gateway</h3>
                            <ul class="listing">
                                <li>Select Payment Option</li>
                                <li>i.e. Net Banking / Debit / Credit Card</li>
                                <li>Enter Details</li>
                                <li>Proceed for payment</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-5">
                        <div class="mobile-thumb">
                            <div class="text-center">
                                <img class="img-fluid" src="assets/images/mob16.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2"></div>
                </div>
            </div>
        </section>



        <section class="contact-bg">
            <div class="lead-title">
                <h2>Connect with us</h2>
            </div>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-3">
                        <div class="contect-block">
                            <h5>
                                <img src="assets/images/cont-icon1.png" alt="" /> Head office</h5>
                            <!-- <p class="mobno">
                      <strong>Virtual Galaxy Infotech Pvt. Ltd.</strong>
                    </p>
                    <p>3, Central Excise Colony, Behind Mahatme Eye Bank, Chhatrapati Sq., Ring Road, Nagpur- 440015 Maharashtra (INDIA)</p> -->
                            <div *ngFor="let item of Items">
                                <p *ngIf="item=='Virtual Galaxy Infotech Pvt Ltd '" class="mobno" style="margin-bottom: 1px;">
                                    {{item}}
                                    <br>
                                </p>
                                <p *ngIf="item!='Virtual Galaxy Infotech Pvt Ltd '" class="mobno" style="margin-bottom: 1px;"> {{item}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contect-block">
                            <h5>
                                <img src="assets/images/cont-icon2.png" alt="" /> Request for Business solutions</h5>

                            <div class="contact-detail">
                                <!-- <p>
                        <img src="assets/images/whatsp-icon.png" alt="" /> Mobile no.: 900000000</p> -->
                                <p class="mobno">
                                    <i class="icofont icofont-phone-circle" style="font-size:20px"></i>: {{SPhone}}</p>
                                <p>
                                    <i class="icofont icofont-email" style="font-size:20px"></i>:
                                    <a href="mailto:{{SEMail}}"> {{SEMail}}</a>
                                </p>
                                <p>Monday to Saturday (10 AM - 7 PM)</p>
                                <p class="click">
                                    <a href="javascript:void(0);">Click Here for Enquiry</a>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="contect-block">
                            <h5>
                                <img src="assets/images/cont-icon3.png" alt="" /> Service and complaints</h5>
                            <div class="contact-detail">
                                <p class="mobno">
                                    <i class="icofont icofont-phone-circle" style="font-size:20px"></i>: {{CPhone}}</p>
                                <p>
                                    <i class="icofont icofont-email" style="font-size:20px"></i>:
                                    <a href="mailto:{{PEMail}}">{{PEMail}}</a>
                                </p>
                                <!-- <p>vpaycustomercare@vgipl.in</p> -->
                                <p>Monday to Saturday (10 AM - 7 PM)</p>
                                <p class="click">
                                    <a href="javascript:void(0);">Click Here for Enquiry</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="india">
                            <img src="assets/images/made-india.png" alt="" />
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</main>

<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>