<header id="top">
    <div class="top-bar" style="position: fixed; top: 0px;">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-2 logo">
                    <div class="left-logo text-center">
                        <a href="javascript:void(0)">
                            <img class="img-fluid" src="assets/images/vpay.svg" alt="" />
                        </a>
                    </div>
                </div>

                <div class="col-md-7 col-sm-12 top-logos">
                    <div class="text-center">
                        <!--Navigation-->
                        <div id="cssmenu" class="navigation">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoHome()">Home</a>
                                </li>
                                <li class="active">
                                    <a href="javascript:void(0)">Corporate</a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" (click)="gotoAbout()">About</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" (click)="gotoOurTeam()">Our Team</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">News & Blog</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Careers</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoHowToUse()">How It Works</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoWhyUs()">Why Us</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoSignUp('I')">Sign Up</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoLogin()">Login</a>
                                </li>
                            </ul>
                        </div>
                        <!--/Navigation-->
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="vgipl-logo text-right">
                        <a href="javascript:void(0)">
                            <img style="height: 60px;" class="img-fluid" src="assets/images/vg-logo.svg" alt="" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


</header>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">Our Team</li>
        </ol>
    </nav>
</div>
<main>
    <div class="main">

        <!--Our Team Start-->
        <div class="container">
            <h2>Our Team</h2>
            <div class="inner-banner-img">
                <img class="img-fluid" src="assets/images/team-banner.jpg" alt="Team Banner" />
            </div>

            <div class="lead-title">
                <h2>Our Leaders</h2>
            </div>
            <div class="row">



                <div class="col-md-6">
                    <div class="profile text-center">
                        <img class="img-fluid" src="assets/images/photo01.jpg" alt="" />
                    </div>
                    <div class="inner-name">
                        <h3>Mr. Avinash Shende - MD (Planning & Operation)</h3>
                    </div>
                    <p>Has been involved with the company from day one and contributed the overall design and implementation
                        of the VGIPL products. His knowledge of the banking environment and successful background in the
                        IT industry has enabled him to understand the needs of the products. He is having thorough knowledge
                        of the Software Development, System Management, IT Facility Management - Networking and Database
                        Management.
                    </p>
                </div>



                <div class="col-md-6">
                    <div class="profile text-center">
                        <img class="img-fluid" src="assets/images/photo02.jpg" alt="" />
                    </div>
                    <div class="inner-name">
                        <h3>Mr. Sachin Pande - MD (Business Development)</h3>
                    </div>
                    <p>Is an experienced, successful entrepreneur, operator and investor uniquely combined with recognized sales
                        and marketing skills as well as strategic mergers and acquisitions strengths. Mr. Pande has deep
                        experience in the System Management, RDBMS, Client-Server applications Object Oriented Programs (OOPs)
                        & three-tire architectures etc. He brings the skill sets of leadership, strategic planning, operations,
                        and team building/culture development, and sales and marketing.</p>
                </div>

            </div>

        </div>

        <div class="gap"></div>
        <div class="container">
            <div class="lead-title">
                <h2>Team</h2>
            </div>
            <h4>Alone we can do so little, together we can do so much.</h4>
            <p>We believe in above philosophy, The VPay team is comprised of enthusiastic and passionate people across sales,
                services and technology who work tirelessly to help our customers to scale and grow their business 24*7 and
                365 days a year.</p>
            <!-- <div class="row">
                <div class="col-md-3">
                    <div class="team-img">
                        <img class="img-fluid" src="assets/images/team.png" alt="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-img">
                        <img class="img-fluid" src="assets/images/team.png" alt="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-img">
                        <img class="img-fluid" src="assets/images/team.png" alt="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-img">
                        <img class="img-fluid" src="assets/images/team.png" alt="" />
                    </div>
                </div>
            </div> -->

        </div>
        <!--Our Team End-->




    </div>
</main>


<section class="contact-bg">
    <div class="lead-title">
        <h2>Connect with us</h2>
    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3">
                <div class="contect-block">
                    <h5>
                        <img src="assets/images/cont-icon1.png" alt="" /> Head office</h5>
                    <!-- <p class="mobno">
              <strong>Virtual Galaxy Infotech Pvt. Ltd.</strong>
            </p>
            <p>3, Central Excise Colony, Behind Mahatme Eye Bank, Chhatrapati Sq., Ring Road, Nagpur- 440015 Maharashtra (INDIA)</p> -->
                    <div *ngFor="let item of Items">
                        <p *ngIf="item=='Virtual Galaxy Infotech Pvt Ltd '" class="mobno" style="margin-bottom: 1px;">
                            {{item}}
                            <br>
                        </p>
                        <p *ngIf="item!='Virtual Galaxy Infotech Pvt Ltd '" class="mobno" style="margin-bottom: 1px;"> {{item}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contect-block">
                    <h5>
                        <img src="assets/images/cont-icon2.png" alt="" /> Request for Business solutions</h5>

                    <div class="contact-detail">
                        <!-- <p>
                <img src="assets/images/whatsp-icon.png" alt="" /> Mobile no.: 900000000</p> -->
                        <p class="mobno">
                            <i class="icofont icofont-phone-circle" style="font-size:20px"></i>: {{SPhone}}</p>
                        <p>
                            <i class="icofont icofont-email" style="font-size:20px"></i>:
                            <a href="mailto:{{SEMail}}"> {{SEMail}}</a>
                        </p>
                        <p>Monday to Saturday (10 AM - 7 PM)</p>
                        <p class="click">
                            <a href="javascript:void(0);">Click Here for Enquiry</a>
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="contect-block">
                    <h5>
                        <img src="assets/images/cont-icon3.png" alt="" /> Service and complaints</h5>
                    <div class="contact-detail">
                        <p class="mobno">
                            <i class="icofont icofont-phone-circle" style="font-size:20px"></i>: {{CPhone}}</p>
                        <p>
                            <i class="icofont icofont-email" style="font-size:20px"></i>:
                            <a href="mailto:{{PEMail}}">{{PEMail}}</a>
                        </p>
                        <!-- <p>vpaycustomercare@vgipl.in</p> -->
                        <p>Monday to Saturday (10 AM - 7 PM)</p>
                        <p class="click">
                            <a href="javascript:void(0);">Click Here for Enquiry</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="india">
                    <img src="assets/images/made-india.png" alt="" />
                </div>
            </div>

        </div>
    </div>
</section>

<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>