<header id="top">
    <div class="top-bar" style="position: fixed; top: 0px;">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-2 logo">
                    <div class="left-logo text-center">
                        <a href="javascript:void(0)">
                            <img class="img-fluid" src="assets/images/vpay.svg" alt="" />
                        </a>
                    </div>
                </div>

                <div class="col-md-7 col-sm-12 top-logos">
                    <div class="text-center">
                        <!--Navigation-->
                        <div id="cssmenu" class="navigation">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoHome()">Home</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Corporate</a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" (click)="gotoAbout()">About</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" (click)="gotoOurTeam()">Our Team</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">News & Blog</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Careers</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoHowToUse()">How It Works</a>
                                </li>
                                <li class="active">
                                    <a href="javascript:void(0)" (click)="gotoWhyUs()">Why Us</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoSignUp('I')">Sign Up</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="gotoLogin()">Login</a>
                                </li>
                            </ul>
                        </div>
                        <!--/Navigation-->
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="vgipl-logo text-right">
                        <a href="javascript:void(0)">
                            <img style="height: 60px;" class="img-fluid" src="assets/images/vg-logo.svg" alt="" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


</header>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">Why Us</li>
        </ol>
    </nav>
</div>
<main>
    <div class="main">
        <div class="container">
            <p style="font-size: 17px;padding-top: 17px;font-weight: 600;text-align: center;">WE ARE DIFFERENT &amp; BETTER </p>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="whyus-block">
                        <div class="whyus-icon"><img src="assets/images/whyus-icon1.png" alt="" /></div>
                        <p class="whyus-head">Money Credit Facility</p>
                        <p class="text-center">V-pay is not a wallet &amp; your money gets auto credited to your existing Bank A/c. 80% of the        transaction money will be credited same day and 20% on the T+1 day.</p>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="whyus-block">
                        <div class="whyus-icon"><img src="assets/images/whyus-icon2.png" alt="" /></div>
                        <p class="whyus-head">Easy and Convenient</p>
                        <p>Easy Installation &amp; onetime registration process.</p>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="whyus-block">
                        <div class="whyus-icon"><img src="assets/images/whyus-icon3.png" alt="" /></div>
                        <p class="whyus-head">Anytime Anywhere</p>
                        <p>Card Less &amp; Cashless Transactions anytime anywhere.</p>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="whyus-block">
                        <div class="whyus-icon"><img src="assets/images/whyus-icon4.png" alt="" /></div>
                        <p class="whyus-head">Have Your Business At One Place</p>
                        <p>Integrated with multiple payment Receipt channels Viz. Aadhaar-Pay, UPI, UPI QR Code, Bharat   QR Code &amp; Payment gateway. </p>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="whyus-block">
                        <div class="whyus-icon"><img src="assets/images/whyus-icon5.png" alt="" /></div>
                        <p class="whyus-head">User Friendly</p>
                        <p>Easy Interface, Simple &amp; Operates in Multi-Languages.</p>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="whyus-block">
                        <div class="whyus-icon"><img src="assets/images/whyus-icon6.png" alt="" /></div>
                        <p class="whyus-head">Quick Settlements &amp; Easy Checkouts</p>
                        <p>V-Pay gives the facility to its users of quick settlements and speedy checkouts which makes a hassle-free transaction.</p>
                        <div class="clearfix"></div>
                    </div>
                                  
                </div>
                
                   <div class="col-md-6 col-sm-12">
                   
                   <div class="whyus-block">
                        <div class="whyus-icon"><img src="assets/images/whyus-icon8.png" alt="" /></div>
                        <p class="whyus-head">Friendly &amp; Economical</p>
                        <p class="text-center">V-Pay is a friendly application as it is very easy to use. It provides an inclusive platform for both small and large businesses and aims to save time and money.</p>
                        <div class="clearfix"></div>
                    </div>
                   
                    <div class="whyus-block">
                        <div class="whyus-icon"><img src="assets/images/whyus-icon7.png" alt="" /></div>
                        <p class="whyus-head">Safe &amp; Secure</p>
                        <p>Fully secured and provides protection against fraud. It has safety & security features for both Merchant and Customers.</p>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="whyus-block">
                        <div class="whyus-icon"><img src="assets/images/whyus-icon9.png" alt="" /></div>
                        <p class="whyus-head">Device Independent</p>
                        <p>V-Pay is Build on BYOD Concept i.e. Bring Your Own Device And Operate.</p>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="whyus-block">
                        <div class="whyus-icon"><img src="assets/images/whyus-icon10.png" alt="" /></div>
                        <p class="whyus-head">Auto Reconciliation</p>
                        <p>Merchant enjoys auto reconciliation facility i.e. the amount gets credited automatically to Merchant’s account.</p>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="whyus-block">
                        <div class="whyus-icon"><img src="assets/images/whyus-icon11.png" alt="" /></div>
                        <p class="whyus-head">Increased Revenue</p>
                        <p>Generates more revenue stream for Merchant’s through income receipt channels viz BBPS,    Fastag etc.</p>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="whyus-block">
                        <div class="whyus-icon"><img src="assets/images/whyus-icon12.png" alt="" /></div>
                        <p class="whyus-head">Customer Support</p>
                        <p>24X7*365 customer support is available to solve queries/issues.</p>
                        <div class="clearfix"></div>
                    </div>
                    
                    </div>
                
                
            </div>
        </div>

        <section class="icon-bg">
            <div class="container">
                <h3 class="whyusBusines">For all types of Businesses from Small to Large</h3>
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon1.png" alt="" />
                            <p>Retail Store</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon2.png" alt="" />
                            <p>Grocery Store</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon3.png" alt="" />
                            <p>Medical Store</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon4.png" alt="" />
                            <p>Education</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon5.png" alt="" />
                            <p>Gym &amp; Zoomba Centre</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon6.png" alt="" />
                            <p>Travel Agency</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon7.png" alt="" />
                            <p>Cab Agency</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon8.png" alt="" />
                            <p>E-commerce</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon9.png" alt="" />
                            <p>Restaurants</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon10.png" alt="" />
                            <p>Events &amp; Exhibitions</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon11.png" alt="" />
                            <p>Supermarket</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon12.png" alt="" />
                            <p>Insurance</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon13.png" alt="" />
                            <p>Hospitality Industry</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon14.png" alt="" />
                            <p>Coffee Shops</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon15.png" alt="" />
                            <p>Bakeries and Cake Shop</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon16.png" alt="" />
                            <p>Professional Services</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon17.png" alt="" />
                            <p>Beauty Parlour</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon18.png" alt="" />
                            <p>Boutique</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon19.png" alt="" />
                            <p>Pan Shop</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon20.png" alt="" />
                            <p>Dairy Shop</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon21.png" alt="" />
                            <p>Chaat Shop</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon22.png" alt="" />
                            <p>Shopping Malls</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon23.png" alt="" />
                            <p>Clubs</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon24.png" alt="" />
                            <p>Laboratories</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="businesses-icon text-center">
                            <img class="img-fluid" src="assets/images/busi-icon25.png" alt="" />
                            <p>Gas Agency</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>
</main>


<section class="contact-bg">
    <div class="lead-title">
        <h2>Connect with us</h2>
    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3">
                <div class="contect-block">
                    <h5>
                        <img src="assets/images/cont-icon1.png" alt="" /> Head office</h5>
                    <!-- <p class="mobno">
              <strong>Virtual Galaxy Infotech Pvt. Ltd.</strong>
            </p>
            <p>3, Central Excise Colony, Behind Mahatme Eye Bank, Chhatrapati Sq., Ring Road, Nagpur- 440015 Maharashtra (INDIA)</p> -->
                    <div *ngFor="let item of Items">
                        <p *ngIf="item=='Virtual Galaxy Infotech Pvt Ltd '" class="mobno" style="margin-bottom: 1px;">
                            {{item}}
                            <br>
                        </p>
                        <p *ngIf="item!='Virtual Galaxy Infotech Pvt Ltd '" class="mobno" style="margin-bottom: 1px;"> {{item}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contect-block">
                    <h5>
                        <img src="assets/images/cont-icon2.png" alt="" /> Request for Business solutions</h5>

                    <div class="contact-detail">
                        <!-- <p>
                <img src="assets/images/whatsp-icon.png" alt="" /> Mobile no.: 900000000</p> -->
                        <p class="mobno">
                            <i class="icofont icofont-phone-circle" style="font-size:20px"></i>: {{SPhone}}</p>
                        <p>
                            <i class="icofont icofont-email" style="font-size:20px"></i>:
                            <a href="mailto:{{SEMail}}"> {{SEMail}}</a>
                        </p>
                        <p>Monday to Saturday (10 AM - 7 PM)</p>
                        <p class="click">
                            <a href="javascript:void(0);">Click Here for Enquiry</a>
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="contect-block">
                    <h5>
                        <img src="assets/images/cont-icon3.png" alt="" /> Service and complaints</h5>
                    <div class="contact-detail">
                        <p class="mobno">
                            <i class="icofont icofont-phone-circle" style="font-size:20px"></i>: {{CPhone}}</p>
                        <p>
                            <i class="icofont icofont-email" style="font-size:20px"></i>:
                            <a href="mailto:{{PEMail}}">{{PEMail}}</a>
                        </p>
                        <!-- <p>vpaycustomercare@vgipl.in</p> -->
                        <p>Monday to Saturday (10 AM - 7 PM)</p>
                        <p class="click">
                            <a href="javascript:void(0);">Click Here for Enquiry</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="india">
                    <img src="assets/images/made-india.png" alt="" />
                </div>
            </div>

        </div>
    </div>
</section>

<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>