span{
    height: 30px;
}
.tabs-style-linetriangle nav a {
    border-bottom: none !important;
}

.TransferedFundSpan{
    display: inline-flex;
    color:black; 
    font-size: 14px;
    font-weight: 600;
}

.FirstDiv{
    width:100%;
    display:flex;
}

.FundReleaseDiv{
    width:100%;
    display:flex
}