<main>
  <div class="main">
    <img src="assets/images/help.png" class="cursorPointerC fa-beat imgHelp" matTooltip="Change Password Help"
      matTooltipPosition="above" (click)="pageHelp()" data-toggle="modal" data-target="#myModal">
    <!-- </button> -->
    <div class="container">
      <div class="inner">
        <div>
          <div style="padding-top: 15px;">
            <h6><span class="font-weight-bold" style="color:#276b08 !important;">
                &nbsp;Change Password</span>
              <span class="text-right float-right">
              </span>
            </h6>
            <hr class="mb-2">
          </div>

          <div class="row p-3">
            <div class="col-md-12 col-sm-12">
              <div class="signup-block">
                <div class="genOtpBtn col-md-4 pl-0">
                  <div class=" form-group">
                    <input type="text" autocomplete="off" focus inputType="mobileNo" id="txtMobileNo"
                      [(ngModel)]='mobileNo' class="form-control" title='Mobile No.' placeholder="Enter Your Mobile No."
                      required>
                  </div>
                  <div class="cta mt-0" *ngIf='showGenOtpBtn'>
                    <button type="button" id="genOtpBtn" mat-raised-button class="btn-success text-white pageValid"
                      (click)='otpConfirmation()'>Generate
                      OTP</button>
                  </div>
                </div>
                <div [class]='showOtp' style="margin-top:0px">
                  <div class="form-group">
                    <otp [eid]="'otp'" (callBackMethod)="regenerateOTP()"></otp>
                  </div>
                  <div class="cta" style="margin-top:0px">
                    <button type="button" mat-raised-button class="btn-success text-white"
                      (click)="onClickCheckOTP()">Submit</button>
                  </div>
                </div>
                <div class="cta changePBtn col-md-5 pl-0" *ngIf='showChangePass' style="margin-top:0px">
                  <div class="form-group">
                    <input type="password" autocomplete="off" inputType="password" title='oldPassword'
                      [(ngModel)]='oldPassword' class="form-control" placeholder="Enter old Password" required />
                  </div>
                  <div class="form-group">
                    <input type="password" autocomplete="off" inputType="password" title='Password'
                      [(ngModel)]='newPassword' class="form-control" placeholder="Enter New Password" required />
                  </div>
                  <div class="form-group">
                    <input type="password" autocomplete="off" inputType="confirmPassword" title='Confirm Password'
                      [(ngModel)]='confNewPass' class="form-control" placeholder="Confirm Password " required />
                  </div>
                  <div class="cta" style="margin-top:0px">
                    <button type="button" id="changePBtn" mat-raised-button class="btn-success text-white pageValid"
                      disabled='true' (click)='changePass()'>Submit</button>
                    <button type="button" mat-raised-button class="btn-success text-white"
                      (click)="clear()">Clear</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-12">
              <div class="text-center">
                <div id="divPassVal" class="passwordValidator hide">
                  <ul style="color:red; font-weight:600;font-size:12px;line-height: 1.7;">
                    <li>Password must contain at least one lowercase letter (a-z)</li>
                    <li>Password must contain at least one uppercase letter (A-Z) </li>
                    <li>Password must contain at least one number (0-9)</li>
                    <li>Password must contain at least special character</li>
                    <li>Password should be Minimum Six Characters</li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!--POPUP START-->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered" style="max-width:1000px;">
          <div class="modal-content">
            <div class="modal-body" style="height: 400px;overflow: auto;">
              <div *ngFor="let item of termCondContent">
                <p style="text-transform: uppercase; font-weight: bold">
                  {{item.TERM_COND_HEADER}}
                </p>
                <p style="margin-top: 2%">
                  {{item.TERM_COND_DETAIL}}
                </p>
                <br>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>


      <!--POPUP END-->
      <div class="clearfix"></div>
    </div>
  </div>
</main>